/* CUERPO */
*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-image: url("img/fondo.png");
    background-size: cover;


}

header h1{
    text-align: center;
    padding: 40px;
    font-family: 'Franklin Gothic Medium';
    font-size: 60px;
}

main{
    background-color: rgb(230, 231, 242);
    width: 60%;
    height: 100%;
    margin: auto;
    

    left: 20%;
}

header{
    align-content: center;
    align-items: center;
}

.ventanas{
    margin-bottom: 50px;

word-break: break-all;
word-wrap: break-word;
}

.opciones-ventanas{
    width: 60%;
    list-style-type: none;   
    text-align: center;
    margin: auto;
 

    background-color: #e96969;
    border-radius: 30px;


    padding: 12px 40px;
}

.opciones-ventanas li{
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}

.opciones-ventanas li a{
    color: aliceblue;
    padding: 10px;
    display: block;
    text-decoration: none;
    transition: all .5s ease;
    font-size: 100%;
}

.opciones-ventanas li:hover{
    letter-spacing: 3px;
    background-color: rgb(209, 61, 61);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(214, 64, 64) 0px 7px 29px 0px;
}


.lista{
    margin-bottom: 50px;

    word-break: break-all;
    word-wrap: break-word;
}

.opciones{
    width: 80%;
    margin: auto;
    position: relative;
    list-style-type: none;
    display: grid;
    gap: 60px; /*esto es para separar ,los botones de la lista */  

    
    word-break: break-all;
    word-wrap: break-word;
}

.canciones {
    padding: 15px 20px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 80%;
    transition: all .5s ease;
    font-style: normal;
    text-decoration: none;
    font-family:   sans-serif;
    position:  absolute;
    }

a.canciones:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

a.canciones:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}






/* -------------------  JUEGO --------------------*/

.nombre{
    margin: auto;
    text-align: center;
    background-size: cover;
    font-size: 20px;
    width: 60%;
    padding: 10px;
}

.contenedor{
    width: 85%;
    height: 300px;
    margin: 0 auto;

    position: relative;

    background: linear-gradient(#e9696980, rgb(119, 162, 230));
    overflow: hidden;
}

.mediodia {
    background-color: #ffdcf3;
}

.tarde {
    background-color: #e96969;
}

.noche {
    background-color: #493e91;
}

.dino{
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(/img/dino.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;
}

.dino-corriendo{
    animation: animarDino 0.25s steps(2) infinite;
}

.dino-estrellado{
    background-position: -252;
}

.suelo{
    width: 200%;
    height: 42px;

    position: absolute;
    bottom: 0;
    left: 0;

    background: url(/img/suelo.png) repeat-x 0px 0px;
    background-size: 50% 42px;
}

.cactus{
    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(img/cactus1.png) no-repeat;
}
.cactus2{
    width: 98px;
    height: 66px;

    background: url(img/cactus2.png) no-repeat;
}

.nube{
    width: 92px;
    height: 26px;

    position: absolute;
    z-index: 0;

    background: url(img/nube.png) no-repeat;
    background-size: 92px 26px;
}

.score{
    width: 100px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;

    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.game-over{
    display: none;

    position: absolute;
    width: 100%;


    text-align: center;
    bottom: 50%;
    color: #e6fff7;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;

    z-index: 10;
}

@keyframes animarDino{
    from{
        background-position: -84px;
    }
    to{
        background-position: -252px;
    }
}

.jugar-denuevo{
    display: none;

    position: absolute;
    width: 100%;


    text-align: center;
    bottom: 30%;
    color: #cfd8d5;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;

    z-index: 10;
}

.try-again {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    font-style: normal;
    text-decoration: none;
    }

.try-again:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.try-again:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.you-win{
    display: none;

    position: absolute;
    width: 100%;


    text-align: center;
    bottom: 50%;
    color: #e6fff7;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;

    z-index: 10;
}


#tiempox{
    background: #902176;
    width: 10%;
    z-index: 10;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

#tiempoDuracion{
    display: none;
}